body,
a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #424656;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
}

body {
    background-color: #F7F9FF;
}

.navbar.navbar-expand-lg {
    background-color: transparent;
    transition: 0.5s;
}

nav .nav-item .nav-link{
    color: white;
    opacity: 100%;
}

/* nav .nav-item.active {
    border-bottom: white solid 3px;
} */

.navbar ul li a {
    font-size: 12px;
    font-weight: bold;
}

.cHeader {
    background-image: url(../img/12.jpg);
    height: 400px;
    margin-top: -50px;
    padding-top: 150px;
}

nav img {
    width: 60px;
}

.cMarquee {
    height: 30px;
    background-color: #004992;
}

.cFooter img {
    width: 50px;
}

.cFooter {
    background-color: #004992;
}

.btn.btn-primary {
    background-color: #004992;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

header h1, header p {
    color: #F7F9FF;
    text-shadow: 2px 2px #424656;
}

@media (max-width: 992px) {
    nav .navbar-brand {
        font-size: 12px;
        margin-left: 5px;
    }
    nav .navbar-logo {
        width: 40px;
        margin-right: 0px;
    }
}